.header {
  padding-top: 15px;
  height: 115px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.logo {
  height: 100px;
  width: auto;
}

.inner {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding-top: var(--mantine-spacing-lg);
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLinks {
    display: flex;
    gap: 2rem;
    margin-right: 0;
}

.mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding: 7px var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition:
          border-color 100ms ease,
          color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom-color: var(--mantine-color-blue-6);
  }
}
